.about-me p {
   color: #000;
   text-align: center;
   font-family: Helvetica;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 126.247%; /* 30.299px */
   letter-spacing: -0.24px;

};
.projects-title {
  color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.247%; /* 80.798px */
  letter-spacing: -0.64px;
};
